<template>
  <form>
    <pms-validacao-campo nome="txt_Email" rotulo="Email">
      <input v-validate="'required|min:5'" name="txt_Email" type="email">
    </pms-validacao-campo>
  </form>
</template>

<script>
  import PmsValidacaoCampo from '@/pms-validacao-campo.vue'
  
  export default {
    name: 'App',
    
    data: () => ({
      campos: [
        {
          tipo: 'email',
          rotulo: 'E-mail',
          nome: 'txt_Email',
          regra: 'required|email'
        }
      ]
    }),
    
    components: {
      PmsValidacaoCampo
    }
  }
</script>