<template>
  <div
    data-pms="validacao-campo"
    :class="`form-group has-feedback ${classes}`"
  >
    <label v-if="rotulo" class="control-label" :for="nome">
      {{ rotulo }}
    </label>
    <slot/>
    <section v-if="ativo" class="validation-errors">
      <span
        @click="fecha"
        aria-hidden="true"
        v-show="elementosDefinidos"
        class="glyphicon glyphicon-remove form-control-feedback"
      >
      </span>
      <span v-if="problemas" class="help-block">
        <p v-for="problema in problemas" :key="problemas.indexOf(problema)">
          <i
            aria-hidden="true"
            v-if="existeProblema"
            class="fa fa-exclamation"
          />
          {{ problema }}
        </p>
      </span>
    </section>
  </div>
</template>

<script>
  import props from './props'
  import ptBR from 'vee-validate/dist/locale/pt_BR'
  import Vue from 'vue'
  import VeeValidate, { Validator } from 'vee-validate'

  Vue.use(VeeValidate)

  export default {
    name: "PmsValidacaoCampo",
    props,
    
    data: () => ({
      ativo: true
    }),
    
    methods: {
      fecha() {
        this.ativo = false
      },
    },
    
    computed: {
      problemas() {
        let problemas = []
        
        if (!this.erros) {
          this.errors.items.map(erro => {
            if (erro.field === this.nome) {
              problemas.push(erro.msg)
              this.ativo = true
            }
          })
        }
        else {
          this.erros.forEach(erro => {
            problemas.push(erro)
            this.ativo = true
          })
        }
        
        return (problemas.length > 0) ? problemas : false
      },
      
      existeProblema() {
        return this.problemas.length >= 1
      },
      
      classes() {
        const erro = this.problemas && this.ativo ? 'has-error ' : ''
        return `${erro} ${this.classe}`
      },
      
      elementosDefinidos() {
        return this.problemas && this.rotulo && this.icone
      }
    },
    
    created() {
      Validator.localize('pt_BR', ptBR)
    },
  }
</script>

<style lang="less">
  [data-pms='validacao-campo'] {
    .help-block p {
      margin: 0;
    }
    
    .form-control-feedback {
      cursor: pointer;
      pointer-events: all !important;
    }
  }
</style>